[Desktop Entry]
# Required since this is a Desktop file; ignored
Type=Application

# Required; becomes the first paragraph on the Welcome page
# Don't forget to offer translations of the text!
Name=Welcome to weenOS™™™™™™™™™™™™™™™™™™™™\nthis is one of the os'es of all time. uhhh idk what to write here. read the stuff below

# Optional; replaces the default image on the Welcome page
# can be an icon name or an absolute path to an image on disk beginning with file:/
Icon=fedora-logo-icon

# Optional; replaces the default image caption on the Welcome page
# Don't forget to offer translations of the text!
Comment=Google Balls

# Optional; replaces the default URL opened when clicking on the Welcome page's image or icon
URL=https://googleballs.com
